/*a:hover{
    background: black;
    color:white;   
}
*/
/*
a:active{
    background:black;
    color:white;
}
*/

a:visited{
    background:black;
    color:white;
}

body{
    background:#43982F;
}

#wrapper{
    margin:0 auto;
    background-color:white;
    width:800px;
    height:1000px;
}

header{
    padding:0px 0px 10px 0px;
}

#horzNav:hover{
    display:block;
    background:black;
    color:white;

}

/*#para-1{
    word-spacing: 10px;
}*/

#para-1:after{
    content:"@@@@@";
}

#para-1:before{
    content:"@@@@@";
}

#para-2{
    word-spacing: 20px;
    letter-spacing: 10px;
}

footer{
    clear:both;
    background-color:black;
    color:white;
}

/*ul{
    list-style:none;

}*/

ol{
    /*list-style-type:lower-alpha;*/
    list-style-type:lower-greek;
    list-style-position:outside;
}

li{
    background:#f7f7f7;
    width:360px;
    margin:100px auto;
}

li:nth-child(2n){
    background-color:white;
}

li:first-child{
    background-color:white;
}

li:last-child{
    background-color:white;
}

p:first-line{
    text-transform:uppercase;
}

p:last-line{
    font-size:100px;
    text-transform:uppercase;
}

p:first-letter{
    text-transform:uppercase;
    font-size:100px;
}

/*p:hover{
    background:black;
    color:white;
    cursor:pointer;
}*/

/*p{
    background:#f7f7f7;
    color:black;
    width:400px;
    margin:0 auto;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
    outline:none;
    border:2px solid black;
}*/

p{
    /*text-decoration:line-through;
    text-decoration:underline;*/
    text-decoration: overline;
    /*visibility:visible*/
    visibility: hidden;
}
